.article__title {
    font-size: clamp(20px, 7vw, 28px);
    font-weight: 700;
    color: #000;
    margin-bottom: 37px;
}

.delivery__article {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;

    p {
        margin-bottom: 20px;
    }
}

.delivery__text {
    width: 60%;
}

@media(max-width:900px) {
    .article__title {
        text-align: center;
    }
    .delivery__article {
        flex-direction: column;
        justify-content: center;
    }
    .delivery__text {
        width: 100%;
    }
}