<div class="filter-wrapper">
    <div class="filters">
        <h2 class="filters__title">Категории:</h2>
            <div class="filters__wrapper">
                <div class="filter">
                    <h3 class="filter__title">Хвойные растения</h3>
                    <ul class="filter__inner">
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                    </ul>
                </div>
                <div class="filter">
                    <!-- к текущей странице добавляется класс current-page -->
                    <h3 class="filter__title current-page">Плодовые деревья </h3>
                    <ul class="filter__inner">
                       <li><a href="#!">Крыжовник</a></li>
                       <li class="current-page"><a href="#!">Смородина</a></li>
                       <li><a href="#!">Малина</a></li>
                       <li><a href="#!">Голубика</a></li>
                       <li><a href="#!">Жимолость</a></li>
                       <li><a href="#!">Ежевика</a></li>
                       <li><a href="#!">Актинидия</a></li>
                       
                    </ul>
                </div>
                <div class="filter">
                    <h3 class="filter__title">Плодовые кустарники </h3>
                    <ul class="filter__inner">
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                    </ul>
                </div>
                <div class="filter">
                    <h3 class="filter__title">Многолетние растения </h3>
                    <ul class="filter__inner">
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                    </ul>
                </div>
                <div class="filter">
                    <h3 class="filter__title">Однолетние растения </h3>
                    <ul class="filter__inner">
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                    </ul>
                </div>
                <div class="filter">
                    <h3 class="filter__title">Розы </h3>
                    <ul class="filter__inner">
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                    </ul>
                </div>
                <div class="filter">
                    <h3 class="filter__title">Декоративные кустарники </h3>
                    <ul class="filter__inner">
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                       <li><a href="#!">Элемент списка</a></li>
                    </ul>
                </div>
                
                
            </div>
    </div>
</div>