<div class="product">
    <a href="calag.html" class="btn _gray">Вернуться в каталог</a>

    <div class="product__description">
        <img src="images/img12.webp" alt="">
        <div class="product__text">
            <p><b>Вкус</b> <br>
                Кисло-сладкий
            </p>
            <p><b>Необходимость укрытия</b> <br>
                Без укрытия
            </p>
            <p><b>Опыление</b> <br>
                Самоплодный
            </p>
            <p><b>Срок созревания</b> <br>
                Среднепоздний
            </p>
            <p><b>Транспортабельность</b> <br>
                Хорошая
            </p>
            <p>Куст выше средней высоты, пряморослый, крона средней густоты, побеги практически бесшипые. Ягоды среднего
                размера и выше (3,5-4,0 г), неодномерные, округлые, темно-красные, неопушенные, с восковым налетом.
                Семян среднее количество. Кожица плотная, средней толщины. Вкус кисло-сладкий. Сорт зимостойкий,
                засухоустойчивый, урожайный. Американской мучнистой росой поражается только в неблагоприятные годы.</p>
        </div>
    </div>

    <div class="product__in-stock">
        <h3 class="product__subtitle">Сейчас в продаже:</h3>

        <table>
            <tr>
                <td>Размер</td>
                <td>Описание</td>
                <td>Количество</td>
                <td>Цена</td>
                <td></td>
            </tr>
            <tr>
                <td>С5</td>
                <td>Крыжовник Сириус, С5</td>
                <td>
                    <div class="number">
                        <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                        <input type="number" min="0" value="1" >
                        <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                    </div>
                </td>
                <td>6 000 р.</td>
                <td><button class="btn _basket">В корзину</button></td>
            </tr>
            <tr>
                <td>С6</td>
                <td>Крыжовник Сириус, С6</td>
                <td>
                    <div class="number">
                        <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                        <input type="number" min="0" value="1" >
                        <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                    </div>
                </td>
                <td>2 000 р.</td>
                <td><button class="btn _basket">В корзину</button></td>
            </tr>
        </table>
    </div>
</div>